.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  min-height: 30rem;
  min-width: 30rem;
  border-radius: 3rem;
  margin: auto;
  overflow-y: scroll;
}
