.container {
  height: 100vh;
  background-image: url('~@public/backgrounds/auth-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
