.titleContainer {
  .header {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
  .subHeaderContainer {
    display: flex;
    align-items: center;
  }
  .link {
    margin-left: 5px;
    text-decoration: none;
    color: rgb(0, 0, 255);
  }
}
