.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 100px;
  width: calc(50% - 200px);
  height: 100vh;
  margin-left: auto;
  .titleContainer {
    .header {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }
    .subHeaderContainer {
      display: flex;
      align-items: center;
    }
    .link {
      margin-left: 5px;
      text-decoration: none;
      color: rgb(0, 0, 255);
    }
  }
}
